@import url(_variaveis.css);
@import url(navbar.css);

body {
  background-size: 100%;
  background-repeat: auto;
}

h3 {
  display: block;
  font-size: 1.17em;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}

.btn-primary {
  background-color: var(--roxo);
}

.titulo-noticia {
  font-family: var(--familia-titulo-destaque);
  font-size: 1.2rem;
  font-weight: 700;
}

.noticias-cartao {
  padding: 0 50px 50px 50px;
}

.img-450 {
  width: 150px; 
}

.card-body {
  padding: 45px;
}

.corpo-texto {
  margin-right: 300px;
  margin-left: 300px;
}

.card-body .sobre-direita {
  margin-right: 500px;
}

.sobrenos-img {
  padding-top: 50px;
  padding-bottom: 50px;
  padding-left: 10px;
  padding-right: 10px;
}

.rounded-circle {
  width: 200px;
  height: 200px;

  margin-left: 25%;
  margin-right: 25%;
  margin-top: 5%;
  margin-bottom: 5%;
}

#area
{
  position:relative;
  left:37%;
  top:29%;
  width:320px;
  height:270px;
}
#area #formulario
{
  position:absolute;
  display:block;
}
fieldset
{
  width:300px;
  height:250px;
}



legend
{
  font-style:bold;
  font-family: "Segoe UI";
}
#formulario label
{
  position:absolute;
  left:19px;
  margin-right:5px;
}


#formulario input.campo_nome
{
  position:absolute;
  left:95px;
  top:23px;
  width:225px;
}
#formulario input.campo_email
{
  position:absolute;
  left:95px;
  margin-top:2px;
  width:225px;
}

.img-perfil {
  margin-left: 30%;
}

.autores-card {
  margin-left: 5%;
}